<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.rtl.min.css" integrity="sha512-VNBisELNHh6+nfDjsFXDA6WgXEZm8cfTEcMtfOZdx0XTRoRbr/6Eqb2BjqxF4sNFzdvGIt+WqxKgn0DSfh2kcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap JS and jQuery -->
    <!-- Bootstrap and jQuery CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <!-- font awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EMS.styles.css" asp-append-version="true" />
</head>
<body>
   

    <header>
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    <nav class="navbar navbar-expand-lg">
      <div class="container"></div>
        <a class="navbar-brand" href="#home">
          <img src="~/images/Logos/light-mode-logo.png" class="d-inline-block align-top" alt="React Bootstrap logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#basic-navbar-nav" aria-controls="basic-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basic-navbar-nav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Questions" asp-action="Index">بنك الاسئلة</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="">بيان الدرجات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="">جدول الامتحانات</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" asp-area="" id="basic-nav-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                تقديم الطلبات
              </a>
              <ul class="dropdown-menu" aria-labelledby="basic-nav-dropdown">
                <li><a class="dropdown-item" asp-area="">طلب تاجيل</a></li>
                <li><a class="dropdown-item" asp-area="">تقديم عذر</a></li>
              </ul>
            </li>
          </ul>
          @if (SignInManager.IsSignedIn(User))
          {
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Manage">حسابي</a>
              </li>
              <li class="nav-item">
                <form asp-area="" asp-controller="User" asp-action="Logout" method="post" class="form-inline">
                  <button type="submit" class="btn btn-outline-danger">تسجيل الخروج</button>
                </form>
              </li>
            </ul>
          }
          else
          {
            <button class="sign-in btn btn-outline-info ml-3" asp-area="" asp-controller="Account" asp-action="Login">تسجيل الدخول</button>
            <button class="sign-up btn btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Register">حساب جديد</button>
          }
        </div>
      </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer ">
        <div class="footer-container">
        <div class="footer-left">
          <h4>كلية الدراسات العليا للبحوث الإحصائية</h4>
          <p>جامعة القاهرة</p>
          <p>العنوان: شارع الجامعة، الجيزة، مصر</p>
          <p>الهاتف: +20 2 123456789</p>
          <p>البريد الإلكتروني: info@stats.cu.edu.eg</p>
        </div>

        
        
        <div class="footer-right">
          <h4>تابعونا</h4>
          <ul class="social-links">
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          © 2024 كلية الدراسات العليا للبحوث الإحصائية، جامعة القاهرة. جميع
          الحقوق محفوظة.
        </p>
      </div>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
