@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />

<section class="hero container">
  <div class="hero-content">
    <h1 class="hero-header">مرحبًا بكم في بوابة الطلاب والامتحانات</h1>
    <h2 class="her-subheader">
      كلية الدراسات العليا للبحوث الإحصائية - جامعة القاهرة
    </h2>
    <p class="header-desc">
      تفتح لكم بوابة الطلاب والامتحانات الأبواب لعالم من الفرص الأكاديمية
      المتقدمة. هنا، يمكنكم الوصول بسهولة إلى جداول الامتحانات، نتائج
      التحصيل الأكاديمي، والتسجيل في المقررات الدراسية بكل سلاسة. نسعى
      جاهدين لدعم رحلتكم العلمية بأحدث الأدوات والخدمات الرقمية التي تسهل
      حياتكم الأكاديمية وتساعدكم على تحقيق التميز.
    </p>
  </div>
  <div class="hero-img">
    <img src="~/images/Hero-images/13.png" alt="Hero Image" class="hero-img" />
  </div>
</section>

<section class="features container">
  <h1 class="section-header">الخدمات</h1>
  <div class="feature">
    <img src="~/images/Hero-images/4.png" alt="Feature Image" class="feature-img" />
    <div class="feature-description">
    <h3 class="feature-header">جداول الامتحانات</h3>
    <p class="feature-desc">
      توفر بوابة الطلاب والامتحانات جداول الامتحانات الدورية للطلاب بكل
      سهولة ويسر. يمكنكم الاطلاع على جداول الامتحانات الخاصة بكلية الدراسات
      العليا للبحوث الإحصائية بكل سهولة ويسر.
    </p>
    </div>
  </div>
  <div class="feature-reverse feature">
    <img src="~/images/Hero-images/2.png" alt="Feature Image" class="feature-img" />
    <div class="feature-description">
    <h3 class="feature-header">نتائج التحصيل الأكاديمي</h3>
    <p class="feature-desc">
      يمكنكم الاطلاع على نتائج التحصيل الأكاديمي بكل سهولة ويسر. توفر بوابة
      الطلاب والامتحانات نتائج التحصيل الأكاديمي للطلاب بكلية الدراسات العليا
      للبحوث الإحصائية بكل سهولة ويسر.
    </p>
    </div>
  </div>
  <div class="feature">
    <img src="~/images/Hero-images/3.png" alt="Feature Image" class="feature-img" />
    <div class="feature-description">
      <h3 class="feature-header">التسجيل في المقررات الدراسية</h3>
      <p class="feature-desc">
      يمكنكم التسجيل في المقررات الدراسية بكل سهولة ويسر
      </p>
    </div>
    
  </div>
</section>

